/****************
Colors
#F8F7F4
#F1EFE7
#DFDAC9
#CBC1A6
#B5A582
#A58F6A
#987F5E
#7F684F
#685544
#554639
#2D251D
*******************/
html,
body {
  width: 100% !important;
  overflow-x: hidden;
  background-color: #f1efe7;
}
.a_none_style {
  text-decoration: none;
}
/*********************
TYPOGRAPHY 
*********************/
@font-face {
  font-family: "Mulish Black";
  src: url("fonts/Mulish-Black.ttf");
}
@font-face {
  font-family: "Mulish Bold";
  src: url("fonts/Mulish-Bold.ttf");
}
@font-face {
  font-family: "Mulish ExtraBold";
  src: url("fonts/Mulish-ExtraBold.ttf");
}
@font-face {
  font-family: "Mulish ExtraLight";
  src: url("fonts/Mulish-ExtraLight.ttf");
}
@font-face {
  font-family: "Mulish Medium";
  src: url("fonts/Mulish-Medium.ttf");
}
@font-face {
  font-family: "Mulish Regular";
  src: url("fonts/Mulish-Regular.ttf");
}
.black {
  font-family: "Mulish Black";
}
.bold {
  font-family: "Mulish Bold";
}
.extraBold {
  font-family: "Mulish ExtraBold";
}
.extraLight {
  font-family: "Mulish ExtraLight";
}
.medium {
  font-family: "Mulish Medium";
}
.regular {
  font-family: "Mulish Regular";
}
/*********************
  Iconos 
*********************/
.icon-persiana {
  width: 100px;
  margin-bottom: 1rem;
}
.icon-cortina {
  width: 100px;
  margin-bottom: 1rem;
}
.icon-panel {
  width: 100px;
  margin-bottom: 1rem;
}
.icon-lambrin {
  width: 100px;
  margin-bottom: 1rem;
}
.icon-piso {
  width: 100px;
  margin-bottom: 1rem;
}
.icon-papel {
  width: 100px;
  margin-bottom: 1rem;
}
/*********************
  Menu 
*********************/
.logo-menu {
  width: 200px;
}
.nav-link {
  font-family: "Mulish Medium";
  color: #000000;
}
.navbar-expand-lg .navbar-nav .nav-link {
  padding-left: 1rem;
  padding-right: 1rem;
}
.btn-quote {
  margin-left: 1rem;
  border: none;
  border-radius: 10px;
  background: #cbc1a6;
  color: #000000;
}
.btn-quote:hover {
  background: transparent;
  border: 2px solid #cbc1a6;
  color: #000000;
}
/*********************
  First Section 
*********************/
.title-header {
  text-align: center;
  margin-top: 3rem;
  margin-bottom: 3rem;
}
.title-header h1 {
  font-size: 80px;
}
.title-header p {
  font-family: "Mulish Regular";
  font-size: 20px;
}
/*********************
  Second Section 
*********************/
.title-second-section {
  text-align: center;
  font-family: "Mulish Bold";
  margin-top: 3rem;
}
.title-second-section p {
  font-family: "Mulish ExtraLight";
}
/*********************
  Third Section 
*********************/
.about-us h3 {
  font-family: "Mulish ExtraBold";
  font-size: 45px;
}
.about-us p {
  font-family: "Mulish ExtraLight";
}
.what-offer h2 {
  font-family: "Mulish ExtraBold";
}
.box-product-index {
  background: rgba(203, 193, 166, 0.6);
  color: #000000;
  font-family: "Mulish Regular";
  border-radius: 30px;
  text-align: center;
  align-items: center;
}
.btn-quote-third-section {
  height: 50px;
  width: 50px;
  color: #000000;
  border-radius: 50px;
  background-color: #a58f6a;
  align-self: flex-start;
  margin-left: 10%;
  margin-top: 2%;
  font-size: 1.4em;
  font-family: "Mulish ExtraLight";
}
.btn-quote-third-section::after {
  position: absolute;
  content: attr(data-txt);
  transition: 350ms all ease;
  font-family: "Mulish ExtraLight";
  top: -5px;
  left: 20px;
  height: 50px;
  width: 230px;
  line-height: 50px;
  padding: 5px;
  z-index: 1000;
}
.btn-quote-third-section::before {
  opacity: 0;
  position: absolute;
  content: "";
  transition: 500ms all ease;
  transition-delay: 100ms;
  color: #ffffff;
  background-color: #a58f6a;
  top: 0px;
  left: 0;
  height: 55px;
  width: 0px;
  line-height: 50px;
  z-index: 1;
  border-radius: 30px;
}
.btn-quote-third-section:hover::before {
  opacity: 1;
  width: 240px;
  color: #ffffff;
}
.btn-quote-third-section:hover::after {
  left: 3px;
}

.bg-brown {
  background-color: #b5a582;
}
